$breakpoint-classes: (small medium large xlarge xxlarge);
$light-blue: #D1ABFC;
$blue: #5E4778;
$dark-blue: #3490FC;

$body-background: $dark-blue;
$body-font-family: 'brandon-grotesque', Helvatica, Arial, sans-serif;

$total-columns: 24;

$primary-color: $light-blue;
$alert-color: #CD4C7E;
$success-color: #B8E986;

