@import url(https://fonts.googleapis.com/css?family=Vollkorn);

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";


$light-blue: #3490FC;
$deep-blue: #4A71E2;

$comment-box-width: 230px;
$comment-box-height: 380px;
$bring-to-circle-size: 50px;
$bring-to-circle-offset: 15px;

.button {
  border-width: 2px !important;
  border-radius: 2px !important;
  font-weight: 600;
}

.back-button {
  color: white;
  font-size: 1.2em;
  font-weight: 400;

  img {
    padding-bottom: 2px;
    margin-right: 10px;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.7);

    img {
      opacity: 0.7;
    }
  }

  &:active, &:visited {
    color: white;
  }

}

.board {

  p, textarea {
    font-family: 'Vollkorn', serif;
    font-size: 1.3em;
    color: #333;
  }

  .small-14, .grid-frame, .page-row {
    background-color: white;
  }

  .story-container {

    .story-header {
      position: relative;

      img {
        width: 100%;
      }

      .gradient {
        /* Preprocess by Auto Prefixer */
        background: linear-gradient(top, transparent, rgba(0,0,0,.8));
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
      }

      h1 {
        color: white;
        font-size: 1.7em;
        position: absolute;
        bottom: 10px;
        left: 20px;
      }
    }

    .story-meta {
      color: #555;
      background: white;
      padding: 2em 0;
      font-size: 2em;

      img {
        margin-right: 10px;
      }
    }
  }

  .page-row {
    padding: 0;
    margin: 0 !important;

    .avatar img {
      border: 1px solid #DDD;
      border-radius: 18px;
      position: absolute;
      left: 20px;
      width: 36px;
    }

    .line {
      border-left: 1px solid #DDD;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 36px;
    }

    .comment-button {
      position: absolute;
      top: 40px;
      left: 20px;

      border: 0;
      background: transparent;
    }
  }

  .submissions {
    background-color: white;

    &.small-14 {
      background-color: white;
    }
  }

  .pending-pages {
    position: relative;
    padding: 10px 40px;

    .submissions-slider {
      .page-row {
        margin: 0 10px !important;
        min-height: 100px;

        .avatar {
          min-width: 75px;
        }

        .line {
          border: none;
        }
      }
    }
  }

  .slick-slider {
    display: flex;
    flex: 1;
  }

  .filter-slider-section {
    .filter-button {
      background-color: #D8D8D8;

      margin: 0 auto !important;
      display: block;
      min-height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      .star-icon {
        font-size: 24px;
      }
      &.active {
        .star-icon {
          color: #F5BB32;
        }
      }
    }

    .filter-slide-slick-wrapper {
      background-color: $deep-blue;

      position: relative;
      padding: 10px 40px;
      min-height: 200px;

      .filter-slide-slick {
        .page-row {
          margin: 0 10px !important;
          min-height: 100px;

          .avatar {
            min-width: 75px;
          }

          .line {
            border: none;
          }
        }
      }
    }
  }
  .page-edit-row {
    margin: 0 10px;
    background: white;
    .page-row {
      margin: 0 10px !important;
    }
    .footer-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;

      .star-icon {
        font-size: 24px;
        &.active {
          color: #F5BB32;
        }
      }

      .edit-button {
        margin: 0 10px 0 0;
      }
    }
  }


  .bring-to {
    cursor: pointer;
    border-radius: 50%;
    width: $bring-to-circle-size;
    height: $bring-to-circle-size;
    background-color: #E4E4E4;
    position: absolute;
    left: $comment-box-width/2 - $bring-to-circle-size/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    &.top {
      top: (-1 * $bring-to-circle-size) - $bring-to-circle-offset;
    }
    &.down {
      bottom: (-1 * $bring-to-circle-size) - $bring-to-circle-offset;
    }
  }

  .right-arrow {
    position: absolute;
    left: -30px;
    top: 36px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }
  .comment-box-wrapper {
    min-width: 230px;
    max-width: 230px;
    z-index: 1;

    // centered
    position: fixed;
    top: 0;
    left: 10px;

    // centered
    position: fixed;
    top: 50%;
    left: 10px;
    margin-top: 0-($comment-box-height/2);

    .comment-box {
      max-heigth: $comment-box-height;
      background-color: white;
      padding: 1em;
      width: 100%;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
      .header {
        width: 100%;
        padding-left: 2px;
        border-bottom: 1px solid #F5F5F5;
      }
      .message-area {
        width: 100%;
        overflow-y: scroll;
        max-height: 250px;
        max-width: 230px;
        .comment {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 10px 0;
          img{
            margin-right: 20px;
          }
          .text {
            .username {
              font-weight: 600;
              padding: 0;
              margin: 0;
              font-size: 1em;
            }
          }
        }
      }
      input {
        margin: 10px 0 0 0;
      }
    }
  }

  .board-page {
    position: relative;
    min-height: 5em;
    &.visibleComentBox {
      .comment-button {
        color: #F5BB32;
      }
    }

    .page-wrapper {
      .center {
        display: flex;
        align-items: center;
        position: relative;
      }
      .toggle-view-button {
        margin: 0;
        padding: 0;
      }
    }

    .page-slider-wrapper {
      background-color: $deep-blue;
      display: flex;
      flex-direction: column;
      min-height: 200px;

      .page-slider-slick {
        .page-row {
          margin: 0 10px !important;
        }
      }
      .close-slider-button {
        margin: 10px auto;
        max-width: 100px;
      }
    }
  }

  .slick-slider-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    padding: 0 40px;
  }

  .new-submission {
    background-color: #544966;

    textarea {
      border-radius: 3px;
      background: #fdfaff;
      border: 1px solid light-gray;
      height: 300px;
      padding: 1em 0.6em;
    }

    .textarea-container {
      background-color: white;
    }

    .button-actions {
      margin: 1rem 0;
    }

    img {
      margin-left: 15px;
    }
  }

  .show-hide {
    text-align: center;
  }

  .pending-pages {
    background: $deep-blue;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.grid-container {
  width: 70%;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.square-aspect-ratio {
  @include aspect-ratio(1, 1);
  overflow: hidden;
}
